.App {
  text-align: center;
  padding-top: 36px;
}
.SearchForm-wrapper{
  display: flex;
  justify-content: center;
}
.MoviesList{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 16px;
}
.MovieItem{
  margin-bottom: 24px;
  width: 21%;
}
.img-movie{
  max-width: 300px;
  min-height: 300px;
}
.card-content {
  margin-top: 10%;
}